########################
# node.js / npm
########################
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules/*
node_modules/**/*
www/components/**/*
Mobile-Notifications.iml

########################
# misc / editors
########################
*~
*#
.DS_STORE
.idea
